<div class="product-cards-container" *ngIf="cartService.cartProducts.length>0; else addToCart">
    <div class="product-card" *ngFor="let product of cartService.cartProducts; let idx=index;">
        <h1 class="product-card-name">{{product.name}}</h1>
        <p class="product-card-label">{{product.label}}</p>
        <p class="product-card-price" >Price: {{product.price}}</p>
        <button class="btn" (click)="romoveFromCart(idx)">remove</button>
    </div>
</div>
<ng-template #addToCart> <h1>Your cart is empty...</h1></ng-template>
<div class="total-sum" *ngIf="cartService.sum>0"> 
    <hr>
    <h3> Sum: {{cartService.sum}}</h3>
</div>