.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-sizing: border-box;
}

.header h1 {
    cursor: pointer;
    outline: none;
}

.header-links-link{
    color: #696969;
    text-decoration: none;
    box-sizing: border-box;
    padding: 3px 0;
}

.header-links-link:hover {
    transition: .3s;
    border-top: 2px solid #000000d0;
}

.header-links-link:first-child {
    margin-right: 15px;
}

.active {
    color: #000;
}

.cart-items-count {
    background-color: dimgray;
    color: #fff;
    padding: 0 4px;
    border-radius: 3px;
}

@media only screen and (min-width: 301px) {
    .header {
        flex-direction: row;
    }
}

mat-slider {
    width: 300px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  