<div class="header">
  <h1 [routerLink]="['/']">{{title | titlecase}}</h1>
  <div class="header-links">
    <a 
      class="header-links-link" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/']"
      >Products
    </a>
    <a 
    class="header-links-link" 
    routerLinkActive="active" 
    [routerLink]="['/cart']"
      >Cart 
        <span class="cart-items-count"
        *ngIf="cartService.cartCount">{{cartService.cartCount}}
        </span>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
