html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  max-width: 1210px;
  width: 100%;
}

.btn {
  background-color: #414040;
  color: #fff;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: .3s;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 0 0 3px 0 #414040;
}

.btn:active {
  box-shadow: 0 0 2px 1px #fff inset;
}

.product-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.product-card {
  border: 1px Solid darkgrey;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.product-card-name {
  text-transform: uppercase;
}

.product-card button {
  width: fit-content;
  align-self: flex-end;
}

@media only screen and (min-width: 640px) {
  .product-cards-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .product-card {
    width: calc(200px - 10px)
  }

}
